@media (min-width: 768px) {
    header .navbar .btnMobile {
        display: none;
    }

    header .navbar ul {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 1rem;
        width: auto;
        padding: 0;
    }

    header .navbar .btnDefault {
        display: block;
    }
}
