@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root { 
    --cor-neutra-0: #FFFFFF;
    --cor-neutra-1: #eee4db;
    --cor-neutra-2: #d4c3b6;
    --cor-neutra-3: #b8a99a;
    --cor-neutra-4: #9e8f85;
    --cor-neutra-5: #7e6e65;
    --cor-neutra-6: #5e4e45;
    --cor-neutra-7: #3e2e25;
    --cor-neutra-8: #1e0e05;
    --cor-neutra-9: #000000;


    --cor-primaria-1: #34815d;
    --cor-primaria-2: #2c6e4f;
    --cor-primaria-3: #245c42;

    --cor-secundaria-1: #f5c518;
 }




.btnMobile{ 
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btnDefault { 
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--cor-primaria-1);
    color: var(--cor-neutra-0);
      transition: background-color 0.3s ease;
}

.btnDefault:hover { 
    background-color: var(--cor-primaria-2);
}

.btncontrarar { 
    background-color: transparent;
    color: var(--cor-primaria-1);
    border: 2px solid var(--cor-primaria-1);
}

.btncontrarar:hover { 
    background-color: var(--cor-primaria-1);
}  

header { 
    background: var(--cor-neutra-1);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{ 
    width: 180px;
}

ul  {
    display: none;
    list-style: none;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    position: absolute;
    top: 80px;
    background: var(--cor-neutra-1);
    left: 0;
    padding: 1rem 4%; 
}

.show { 
    display: flex;
}

li { 
    text-align: center; 
}

a {
    color: var(--cor-neutra-8);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

a:hover { 
    color: var(--cor-primaria-1);
    border-bottom: 1px solid var(--cor-primaria-1);
}

.btnDefault { 
    display: none;
}

a.btn { 
    text-decoration: none;
}


/* MAIN*/

#container {
    background-image: url(../images/background-mobile.png);
    background-size: contain;
    height: 400vh;
}

#home { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    gap: 12px;
    min-height: calc(100vh - 96px);
    padding-top: clamp(0px, 5vw, 32px);
    text-align: center;
    color: #000000;

}

.homeimg { 
    width: clamp(300px, 50%,400px);
    margin-left: auto;
    margin-right: auto;
}

.hometitle {
    color: var(--cor-neutra-8);
    text-align: center;
    font-size: clamp(3rem, 5vw, 4.3rem);
    text-transform: uppercase;
    line-height: 1.2;
    max-width: 700px;
}

span { 
    color: var(--cor-primaria-1);
}

.homedescri { 
    color: var(--cor-neutra-8);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    max-width: 600px;
}

.homeactions {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}